<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.megatech.fms">

    <uses-sdk android:maxSdkVersion="28" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="android.permission.PREVENT_POWER_KEY" />


    <application
        android:usesCleartextTraffic="true"
        android:name=".FMSApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_fuel_tanker"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_fuel"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:fullBackupContent="@xml/my_backup_rules"
        >

        <activity android:name=".StartupActivity"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>
        <activity android:name=".NewExtractActivity"  android:screenOrientation="landscape" />
        <activity android:name=".NewRefuelActivity"  android:screenOrientation="landscape" />
        <activity android:name=".VersionUpdateActivity"  android:screenOrientation="landscape" />
        <activity
            android:name=".RefuelDetailActivity"


            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name=".RefuelDetailConfirmActivity"


            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".LCRTest"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TestActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RefuelPreviewActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".InvoiceActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".InventoryActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".SettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ExtractActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RefuelActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>